<style>
    .card{
    width: 100px;
    height: 100px;
    float: left;
    border: solid black 1px;
    margin: 5px;
    padding: 5px;
    }

    .container{
        padding: 20px;
    }

    .listGroup{
        height: 50vh;
    }

</style>


<div class="container">
<h1>Burger Time</h1>

    <div class="listGroup">
        <h2>On the list:</h2>
    {{#each burgers}}
        {{#unless devoured}}
             
        <div class="card">
            <h5 class="card-title">{{burger_name}}</h5>
            <button class="devourButton" data-id="{{id}}">Devour!</button>
            </div>
            {{/unless}}
        {{/each}}
        </div>
    
    <div class="listGroup">
        <h2>Already done!</h2>
    {{#each burgers}}
        {{#if devoured}}
        <div class="card">
            <h5 class="card-title">{{burger_name}}</h5>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<script>
    $(".devourButton").on("click", function(event) {
        var id = $(this).data("id");

        $.ajax("/api/burgers/" + id, {
            type: "PUT"
        }).then(function(){
            console.log("devoured")

            location.reload(true);
        })
    })
</script>

